/* Inicio */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Nadilla";
  src: url("../fonts/Nadilla.otf");
}


/*Contenido referido al cuerpo principal de la pagina index*/

body{
  width: 100%;
  background-color: rgb(244, 244, 244);
}

/* cabecera */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(32, 31, 31);
  padding: 1em;
  width: 100%;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
.logo {
  height: auto;
  max-width: 100%;
  margin-right: 5em;
}
.tittle {
  font-size: 4em;
  margin-right: 1em;
}
.text {
  font-size: 1.4em;
  margin-left: 1em;
}


/* navbar */

/* bootstrap */


/* carousel */

/* bootstrap */


/* Productos nuevos */

/* bootstrap */


/* Marcas tecnologicas */

h3{
  margin: 1em;
  text-align: center;
  font-size: 2em;
  font-family: sans-serif;
}

/* Slider infinito */

@keyframes slide{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(calc(-100%));
  }}

.logos{
  margin: 5%;
  overflow: hidden;
  padding: 3em 0 5em 0;
  white-space:nowrap;
}
.logos-slide{
  display: inline-block;
  animation: 10s slide infinite linear;
}
.logos-slide img{
  border-radius: 1.25em;
  width: 10em;
  height: 10em;
  margin: 0 2px;
  box-shadow: 0.5em 0.5em 0.5em rgb(190, 189, 189);
}


/* Contenido referido al cuerpo principal de la pagina Nosotros*/


.Contenedor-n {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2em 5em 10em 5em;
}

.nosotros {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(768px, 1fr));
  margin: 3em 0em 2em 0em;
  gap: 2em;

}
.card-nosotros, .card-metas{
  border: solid 0.4em gray;
  border-radius: 30px;
}

.metas {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(768px,1fr));
  margin: 0 auto;
  gap: 2em;
}

.metas-tittle, .metas-text{
  display: flex;
  justify-content:center;
  text-align: center;
  align-content: space-between;
  padding: 1em;
  margin: 0 2em;
}

.iconos{
  display: flex;
  width: auto;
  width: 8em;
  

  

}






/* Contenido referido al cuerpo principal de la pagina Ofertas */

/* Bootstraps */



/* Contenido referido al cuerpo principal de la pagina Ingresar */

.box-area{
  width: 58.125em;
}
/*------------ Right box ------------*/
.right-box{
  padding: 2.5em 1.875em 2.5em 2.5em;
}
/*------------Placeholder ------------*/
::placeholder{
  font-size: 1em;
}
.rounded-4{
  border-radius: 1.25em;
}
.rounded-5{
  border-radius: 1.875em;
}


/* Contenido referido al cuerpo principal de la pagina Ayuda */

/* Boostrap */




/* Contenido referido al cuerpo principal de la pagina  de Footer */

footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 3.13em 6.25em;
  background-color: rgb(237, 237, 237);
}
footer .container-c{
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 1.25em;
}
footer .container-c .sec h2{
  position: relative;
  color:black;
  font-weight: 500;
  margin-bottom: 1em;
}

.sci{
  display: grid;
  margin-top: 1.25em;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.63em;
}
.sci li{
 list-style: none;
}
.sci li a{
  display: inline-block;
  width: 3em;
  height: 3em;
  background-color: rgb(230, 227, 227);
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
}
.sci li a:hover{
  background-color: #d8d7d7;
}
.sci li a .fa-brands{
  color: black;
  font-size: 1.38em;
}

.quicklinks{
  position: relative;
}
.quicklinks li{
  list-style: none;
}
.quicklinks li a{
  color: black;
  text-decoration: none;
  margin-bottom: 0.625em;
  display: inline-block;
}
.quicklinks li a:hover{
  background-color: #dcd9d9;
}


.info{
  position: relative;
}
.info li{
  display: grid;
  grid-template-columns: 1.88em 1fr;
  margin-bottom: 1em;
}
.info li span:nth-child(1){
  font-size: 1.25em;
}
.info a{
  color: rgb(24, 24, 24);
  text-decoration: none;
}
.info a:hover{
 background-color: #dcd9d9;
}
.CopyrigthText{
  width: 100%;
  background-color: rgb(10, 10, 10);
  padding: 0.5em 6.25em;
  text-align: center;
  color: rgb(255, 254, 254);

}




 @media (min-width: 360px){

    .min-vh-100{
      height: 80em;
    }
  }


  


  @media (max-width: 768px) {
    .head {
      flex-direction: column;
      align-items: center;
    }
    .tittle{
      margin-right: 1.2em;
      margin-bottom: 0.5em;
    }
    .text{
      margin-right: 4em;
    }
  }